/*----GENERAL CSS STYLES----*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap');

@font-face {
    font-family: "StarWars";
    src: url("./star_jedi/starjedi/Starjedi.ttf");
}

@font-face {
    font-family: "StarWars2";
    src: url("./star_jedi/starjedi/Starjhol.ttf");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: content-box;
}

html {
    background-image: url("images/starry_night.jpg");
    background-repeat: repeat-y;
    background-size: 100% 100%;
    z-index: -1;
}

/*----MAIN STYLES----*/

header{
    background: linear-gradient(to bottom, rgba(30,30,30,.5) 40%, rgba(30,30,30,.7) 90%);
    z-index: 2;
    padding: 2%;
}

header h1{
    font-family: "StarWars";
    text-align: center;
    font-size: 4vw;
    width: 30%;
    margin: auto;
    color: #c9b823;
    line-height: 1;
}

header h1 > span {
    font-family: "StarWars2";
    font-size: 2vw;
    color: #bbb798;
}

/*----MAIN STYLES----*/

main {
    height: auto;
}

main h2{
    font-family: "StarWars2";
    text-align: center;
    font-size: 3vw;
    color: #c9b823;
    margin-top: 5vh;
}

#allFilms{
    margin:auto;
    width: 85%;
}

#allFilms > article {
    background-color: rgba(153, 153, 153, .6);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(110, 122, 156);
    margin: 3% auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

#allFilms > article > #firstOne {
    flex: 1;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#allFilms > article > h4 {
    text-align: center;
    align-self: flex-start;
    margin: 3vh auto;
    padding-bottom: 1vh;
    font-family: "StarWars";
    letter-spacing: 3px;
    font-size: 2vw;
}

#allFilms > article > #firstOne > figure {
    display:inline-block;
}

#allFilms > article > #firstOne > p {
    display:inline-block;
    text-align:justify;
    font-family: "Space Grotesk";
    font-size: 1.5vw;
    line-height: 2.5;
    width: 60%;
    color: #c9b823;
    text-shadow: 0px 3px 10px #000;
}

#allFilms > article > #secondOne {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 25px;
    width: 100%;
    padding: 1%;
}

#allFilms > article > #secondOne > #directorYear {
    margin-left: 8.5%;
    line-height: 2.5;
    text-align: center;
    font-family: "StarWars";
    text-shadow: 0px 0px 30px rgb(101, 117, 163);
}

#allFilms > article > #secondOne > #stats {
    background-color: rgba(170, 170, 170, 0.4);
    box-shadow: 0px 0px 7px #dbd498;
    padding: 1.5%;
    margin-right: 5%;
}

#allFilms > article > #secondOne > #stats > h5 {
    flex: 1;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 1.5vw;
    padding-bottom: 3vh;
}

#allFilms > article > #secondOne > #stats > ul {
    flex: 2;
    list-style-type: square;
}

#allFilms > article > #secondOne > #stats > ul > li{
    margin: auto 4vw;
    font-size: 1.1vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/*----FOOTER STYLES----*/

footer {
    background: linear-gradient(to bottom, rgba(30,30,30,.5) 40%, rgba(30,30,30,.7) 90%);
    z-index: 2;
    padding: 1.8%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: 'Space Grotesk';
    font-size: 1.1vw;
    color: #dcdcdc;
}

footer p{
    flex: 11;
}

footer article {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer article > a > i {
    color: #dcdcdc;
    font-size: 1.7vw;
}

#elevator{
    position:fixed;
    top: 80vh;
    left: 92.5vw;
    border: 3px solid #000;
    background-color: rgb(220, 220, 220, .5);
    z-index: 5;
    padding: 1vw;
    border-radius: 50%; 
}

#elevator i{
    color: #c9b823;
    font-size: 2vw;
}


/*------MEDIA QUERY 800PX------*/

@media screen and (max-width: 800px) {
    header{
        padding: 3%;
    }
    
    header h1{
        font-size: 6vw;
        width: 40%;
    }

    header h1 > span {
        font-size: 3vw;
    }

    main h2{
        font-size: 4vw;
        color: #c9b823;
        margin-top: 5vh;
    }

    #allFilms > article > h4 {
        font-size: 3vw;
        margin: 4.5vh auto;
    }
    
    #allFilms > article > #firstOne > figure {
        display:block;
        width: 75%;
    }

    #allFilms > article > #firstOne > figure > img {
        width: 100%;
    }
    
    #allFilms > article > #firstOne > p {
        font-size: 2vw;
        line-height: 3;
        width: 75%;
    }

    #allFilms > article > #secondOne > #stats {
        background-color: rgba(170, 170, 170, 0.4);
        box-shadow: 0px 0px 7px #dbd498;
        padding: 1.5%;
        margin-right: 5%;
    }
    
    #allFilms > article > #secondOne > #stats > h5 {
        font-size: 2.5vw;
        padding-bottom: 3vh;
    }
    
    #allFilms > article > #secondOne > #stats > ul {
        list-style-type: square;
    }
    
    #allFilms > article > #secondOne > #stats > ul > li{
        margin: auto 4vw;
        font-size: 1.6vw;
    }

    #allFilms > article > #secondOne {
        border-radius: 25px;
        width: 100%;
        padding: 1%;
        margin: 4vh auto;
    }

    footer {
        padding: 3%;
        font-size: 1.75vw;
    }
    
    footer article {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    footer article > a > i {
        color: #dcdcdc;
        font-size: 2.5vw;
    }

}

@media screen and (max-width: 420px) {
    header{
        padding: 5%;
    }
    
    header h1{
        font-size: 8vw;
        width: 60%;
    }

    header h1 > span {
        font-size: 4vw;
    }

    main h2{
        font-size: 5vw;
        color: #c9b823;
        margin: 4vh auto 3.5vh;
    }

    #allFilms{
        margin:auto;
        width: 80%;
    }

    #allFilms > article > h4 {
        font-size: 4.5vw;
        margin: 3.5vh auto;
    }
    
    #allFilms > article > #firstOne > figure {
        display:block;
        width: 85%;
    }

    #allFilms > article > #firstOne > figure > img {
        width: 100%;
    }
    
    #allFilms > article > #firstOne > p {
        font-size: 3vw;
        line-height: 3.5;
        width: 85%;
    }

    #allFilms > article > #secondOne {
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 100%;
        padding: 1%;
        margin: 2vh auto;
    }
    
    #allFilms > article > #secondOne > #directorYear {
        margin: 1vh auto 3.5vh;
        line-height: 2.5;
    }

    #allFilms > article > #secondOne > #stats {
        padding: 3.5%;
        margin: auto;
    }
    
    #allFilms > article > #secondOne > #stats > h5 {
        font-size: 3.5vw;
        padding-bottom: 3vh;
    }
    
    #allFilms > article > #secondOne > #stats > ul {
        list-style-type: square;
    }
    
    #allFilms > article > #secondOne > #stats > ul > li{
        margin: auto 4vw;
        font-size: 3.2vw;
    }

    #allFilms > article > #secondOne {
        border-radius: 25px;
        width: 100%;
        padding: 1%;
        margin: 4vh auto;
    }

    footer {
        padding: 3%;
        font-size: 1.75vw;
    }
    
    footer article {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    footer article > a > i {
        color: #dcdcdc;
        font-size: 2.5vw;
    }
}